<h2>Currency converter</h2>
<h3>Currency course</h3>
<p>Курс USD к UAH: </p>
<p>Курс EUR к UAH: </p>

<h3>Конвертация</h3>
<div>
  <label for="currency1">First currency:</label>
  <input id="currency1" type="number" min="1" step="1"/>
  <select >
    <option value="UAH">UAH</option>
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
  </select>
</div>

<div>
  <label for="currency2">Second currency:</label>
  <input id="currency2" type="number" min="1" step="1"/>
  <select >
    <option value="UAH">UAH</option>
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
  </select>
</div>




<router-outlet></router-outlet>
